.meus-filmes {
display: flex;
flex-direction: column;
align-items: center;
 margin-top: 24px;   
}

.meus-filmes h1 {
    margin-bottom: 14px;
   }

.meus-filmes span {
    font-size: 18px;
}

.meus-filmes ul {
    width: 720px;
}

.meus-filmes ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a {
    text-decoration: none;
    color: #00ff22;
    margin-right: 14px;
}

.detalhes {
    background-color: #009225 !important;
    color: #FFFFFF !important;
    border: none !important;
}

.detalhes:hover {
    background-color: #006e1f !important;
}

.detalhes:active {
    background-color: #024d15 !important;
    transform: translateY(0);
}