.container {
    margin-top: 20px;
}

.card {
    width: 20rem;
}

.card-title {
    margin-bottom: 14px;
    font-size: 18px;
    display: block;
}

.card article {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
}

.acess {
    display: inline-block;
    width: 100%;
    padding: 12px;
    font-size: 1.25rem;
    font-weight: 500 !important;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #009225 !important;
    border: none !important;
}

.acess:hover {
    background-color: #006e1f !important;
    transform: translateY(-2px);
}

.acess:active {
    background-color: #024d15 !important;
    transform: translateY(0);
}